.login-panel {
    border-style: solid;
    border-width: 1px;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.logged-panel {
    position: absolute;
    top: 2%;
    left: 90%;
}