.otherhand-card {
    width: 90px;
    height: 132px;
}

.rightplayer {
    right: -300px;
    position: absolute;
    top: 44%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.topplayer {
    top: 0%;
    left: 25%;
    position: absolute;
}

.leftplayer {
    left: -300px;
    position: absolute;
    top: 44%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}