.otherhand-card {
    width: 90px;
    height: 132px;
}

.otherhand-halfcard {
    width: 45px;
    height: 132px;
}

.rightplayer {
    right: -150px;
    position: absolute;
    top: 30%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.topplayer {
    top: 0%;
    left: 30%;
    position: absolute;
}

.leftplayer {
    left: -200px;
    position: absolute;
    top: 30%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}