.result-border {
    top: 10%;
    left: 50%;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 75px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.first-player-strikes {
    text-align: left;
    top: 20%;
    left: 10%;
    position: absolute;
}

.second-player-strikes {
    text-align: center;
    top: 20%;
    left: 50%;
    position: absolute;
}

.third-player-strikes {
    text-align: right;
    top: 20%;
    left: 70%;
    position: absolute;
}