.align-center-bottom {
    position: absolute;
    top: 70%;
    left: 3%;
}

.button-card {
    width: 136px;
    height: 200px;
}

.button-order {
    position: absolute;
    top: 95%;
    left: 48%;
}

.talon {
    position: absolute;
    top: 40%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.playground {
    position: absolute;
    top: 40%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}