@import "callComponent.css";
@import "tableComponent.css";
@import "appComponent.css";
@import "startingValueComponent.css";
@import "passOrJoinComponent.css";
@import "messageComponent.css";
@import "strikeComponent.css";
@import "otherHandComponent.css";
@import "playgroundComponent.css";
@import "sayComponent.css";
@import "resultComponent.css";
@import "loginComponent.css";
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}