.sv-border {
    border-style: solid;
    border-width: 1px;
    width: 300px;
}

.button-ok {
    width: 100px;
    margin: 5px;
}

.talon-pos {
    margin-top: 10px;
}

.talon-card {
    width: 115px;
    height: 169px;
    margin: 5px;
}